main.bd-pageheader
  .container
    h1 angular-file
    p The Angular File Upload directives
    a.btn.btn-primary(href="https://github.com/ackerapple/angular-file") View on GitHub
    .row
      .col-lg-1
        iframe(src="https://ghbtns.com/github-btn.html?user=ackerapple&repo=angular-file&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px")
      .col-lg-1
        iframe(src="https://ghbtns.com/github-btn.html?user=ackerapple&repo=angular-file&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px")

.container
  section(id="getting-started" "[innerHTML]"="gettingStarted|safeHtml")

  file-upload-section.col-md-12

footer.footer
  .container
    p.text-muted.text-center
      a(href="https://github.com/ackerapple/angular-file") angular-file
      |&nbsp;is maintained by&nbsp;
      a(href="https://github.com/ackerapple") ackerapple
      |.
