simple-demo

tabset
  tab(heading="Template")
    .card.card-block.panel.panel-default.panel-body
      pre.prettyprint.linenums.lang-html {{ tabs.html }}

  tab(heading="Typescript")
    .card.card-block.panel.panel-default.panel-body
      pre.prettyprint.linenums.lang-js {{ tabs.ts }}
