<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    /* Default class applied to drop zones on over */
    .nv-file-over { border: dotted 3px red; }
    .another-file-over-class { border: dotted 3px green; }
    html, body { height: 100%; }
    .previewIcon{
      width:100px;height:100px;
      background-size:cover;
      background-repeat:no-repeat;
    }
</style>

<div class="container">

    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href>Angular2 File Upload</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h3>Select Files</h3>

            Multiple
            <input type="file" ngfSelect [uploader]="uploader" multiple  />
            <br/>
            Single
            <input type="file" ngfSelect [uploader]="uploader" />
            <br/>
            Element
            <div ngfSelect multiple="1"
              [uploader]="uploader"
              class="well my-drop-zone"
              style="border-style:groove;padding:0.5em;text-align:center;"
            >
              Tap to Select
            </div>
            Images Only
            <div ngfSelect accept="image/*" multiple="1"
              [uploader]="uploader"
              class="well my-drop-zone"
              style="border-style:groove;padding:0.5em;text-align:center;"
            >
              Tap to Select
            </div>

            <h3>Drop Files</h3>

            <div ngfDrop
              [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
              (fileOver)="fileOverBase($event)"
              [uploader]="uploader"
              class="well my-drop-zone"
            >
                Base drop zone
            </div>

            <div ngfDrop multiple="1" selectable="1"
              [ngClass]="{'another-file-over-class': validComboDrag}"
              [(validDrag)]="validComboDrag"
              [uploader]="uploader"
              class="well my-drop-zone"
            >
              Combo drop/select zone
            </div>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload Queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Size</th>
                      <th>Progress</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td>
                      <div *ngIf="['image/png','image/jpeg'].indexOf(item._file.type)>=0">
                        <div class="previewIcon" [ngfBackground]="item._file"></div>
                      </div>
                      <strong>{{ item?.file?.name }}</strong>
                    </td>
                    <td nowrap>
                      {{ item._file.type }}
                    </td>
                    <td nowrap>
                      {{ item._file?.size/1024/1024 | number:'.2' }} MB
                    </td>
                    <td>
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar"
                              role="progressbar"
                              [ngStyle]="{ 'width': item.progress + '%' }"
                            ></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess">
                          <i class="glyphicon glyphicon-ok"></i>
                        </span>
                        <span *ngIf="item.isCancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                        </span>
                        <span *ngIf="item.isError">
                          <i class="glyphicon glyphicon-remove"></i>
                        </span>
                    </td>
                    <td nowrap>
                        <button type="button"
                          class="btn btn-success btn-xs"
                          (click)="item.upload()"
                          [disabled]="item.isReady || item.isUploading || item.isSuccess"
                        >
                            <span class="glyphicon glyphicon-upload"></span>
                            &nbsp;Upload
                        </button>
                        <button type="button"
                          class="btn btn-warning btn-xs"
                          (click)="item.cancel()"
                          [disabled]="!item.isUploading"
                        >
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            &nbsp;Cancel
                        </button>
                        <button type="button"
                          class="btn btn-danger btn-xs"
                          (click)="item.remove()"
                        >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                  </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar"
                          role="progressbar"
                          [ngStyle]="{ 'width': uploader.progress + '%' }"
                        ></div>
                    </div>
                </div>
                <button type="button"
                  class="btn btn-success btn-s"
                  (click)="uploader.uploadAll()"
                  [disabled]="!uploader.getNotUploadedItems().length"
                >
                  <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button"
                  class="btn btn-warning btn-s"
                  (click)="uploader.cancelAll()"
                  [disabled]="!uploader.isUploading"
                >
                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button"
                  class="btn btn-danger btn-s"
                  (click)="uploader.clearQueue()"
                  [disabled]="!uploader.queue.length"
                >
                  <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>
    </div>
</div>